articulos/__pycache__/views.cpython-38.pyc
db.sqlite3
lazy/__pycache__/settings.cpython-38.pyc
lazy/__pycache__/urls.cpython-38.pyc
registration/__pycache__/urls.cpython-38.pyc
registration/__pycache__/views.cpython-38.pyc
